.forum_page{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}
.input-div{
    display: flex;
    padding: 1rem;
    justify-content: center;
    
}

.input-text{
    padding: .5rem;
    width: 80%;
    margin: 0 .2rem;
}

.btn{
    width: 20%;
    background-color: var(--green);
    border-radius: 10%;
    border:none;
    
}



