.App {
  height: 100vh;
  overflow: hidden;
}

.Mobile{
  display: none;
}

@media (max-width: 360px){
  .App {
    display: none;
  }
  
  .Mobile{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}